@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100vh;
}

.header,
.footer {
    color: #f9faf8;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    list-style-type: none;
}

.header-links,
.header-content {
    color: #e5e7eb;
}

.header-title {
    color: #f9faf8 ;
    font-size: 48px;
    font-weight: 900;
}

.header-image {
    background-color: gray;
}

button {
    font-size: 18px;
}

button, 
.subscription-container {
    color: #f9faf8;
    background-color: #3882f6;
}

.subscription-title {
    font-size: 24px;
    font-weight: bold;
}


.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-card {
    font-size: 18px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    background-color: #e5e7eb;
}

.quote-author {
    font-weight: 900;
}
